BlockModel(
    parent: Some("block/base/slab_bottom"),

    textures: {
        "N": "block/oak_planks",
        "S": "block/oak_planks",
        "E": "block/oak_planks",
        "W": "block/oak_planks",
        "U": "block/oak_planks",
        "D": "block/oak_planks"
    }
)