BlockModel(
    parent: Some("block/base/slab_bottom"),

    textures: {
        "N": "oak_planks",
        "S": "oak_planks",
        "E": "oak_planks",
        "W": "oak_planks",
        "U": "oak_planks",
        "D": "oak_planks"
    }
)