BlockModel(
    parent: Some("block/base/full"),

    textures: {
        "N": "block/stone",
        "S": "block/stone",
        "E": "block/stone",
        "W": "block/stone",
        "U": "block/stone",
        "D": "block/stone"
    }
)