BlockModel(
    parent: Some("block/base/full"),

    textures: {
        "N": "stone",
        "S": "stone",
        "E": "stone",
        "W": "stone",
        "U": "stone",
        "D": "stone"
    }
)